*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 80%;
    max-width: 400px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock{
    margin-top: -3rem;
    box-shadow: 0 0 5px 1px rgba(0,0,0, 0.479);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
H2{
    color: grey;
    margin-bottom: 1rem;
}
input{
    font-size: 1.2rem;
    width: 120px;
    text-align: center;
}
select{
    font-size: 1.2rem;
    width: 120px;
    text-align: center;
}
.setBtn{
    margin-top: 1rem;
    padding:  0.8rem;
    width: 70%;
    font-size: 1.5rem;
    border: none;
    font-weight: bolder;
    color: white;
    background-color: rgb(16,16,207);
    border-radius: 10px;
    cursor: pointer;
}
#stopBtn{
    display: none;
    margin-bottom: 1rem;
    padding:  0.8rem;
    width: 70%;
    font-size: 1.5rem;
    border: none;
    font-weight: bolder;
    color: white;
    background-color: rgb(16,16,207);
    border-radius: 10px;
    cursor: pointer;
}
